<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="form-group">
        <select ng-model="dataFrequency" ng-options="value as key  for (key , value) in options" class="form-control"></select>
      </div>
      <div class="form-group row">
        <div class="col-xs-6">
          <input type="date" ng-model="timeSpan.from" class="form-control" placeholder="from" />
        </div>
        <div class="col-xs-6">
          <input type="date" ng-model="timeSpan.to" class="form-control" placeholder="to" />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="overlay" ng-show="showOverlay">
      <i class="fa fa-refresh fa-5x fa-spin"></i>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <chart data="data" chart-type="LineChart" title="Velocità" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <chart data="dataBattery" chart-type="LineChart" title="Batteria" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <chart data="frequency" chart-type="ColumnChart" title="Frequenza" />
      </div>
    </div>
  </div>
</div>
