<div class="row">
  <div class="col-xs-12">
    <div class="progress" ng-class="{'active progress-striped': uploadsActive}">
      <div class="progress-bar" ng-class="{'progress-bar-success': uploadsComplete}" role="progressbar" aria-valuenow="{{uploadsPerCent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadsPerCent}}%;">
        <span class="sr-only">{{uploadsPerCent | number}}% Complete</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <file ng-model="importFile" class="btn-block">
      <icon name="table"></icon>
      Choose file
    </file>
    <button class="btn btn-primary btn-block" ng-disabled="!numberOfLines || uploadsActive" ng-click="submit()">
      <icon name="upload"></icon>
      Upload {{numberOfLines| number}} records
    </button>
  </div>
</div>
