<div class="row margin-top">
  <div class="col-xs-12">
    <progress-bar
      value="uploadsProgress"
      active="uploadActive"
      striped="uploadActive"
      type="uploadsComplete ? 'success' : ''"
      text="{{uploadsPerCent | number}}% Complete"></progress-bar>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <file ng-model="importFile" class="btn-block">
      <icon name="table"></icon>
      Choose file
    </file>
    <button class="btn btn-primary btn-block" ng-disabled="!numberOfLines || uploadsActive" ng-click="submit()">
      <icon name="upload"></icon>
      Upload {{numberOfLines| number}} records
    </button>
  </div>
</div>
<div class="row margin-top" ng-if="uploadsComplete">
  <div class="col-xs-12">
    <progress-bar value="0.2" text="Processing..."
        striped="true"
        active="true" 
        bouncing="uploadsComplete"></progress-bar>
  </div>
</div>
