<div class="col-lg-6">
  <legend>Dati posto</legend>
  <field ng-model="anemometer.site" help="true"></field>
  <field ng-model="anemometer.lat" type="number"></field>
  <field ng-model="anemometer.long" type="number"></field>
  <field ng-model="anemometer.altitude" type="number"></field>
  <field ng-model="anemometer.note" type="textarea"></field>
</div>
<div class="col-lg-6">
  <legend>Dati turbina</legend>
  <field ng-model="anemometer.name"></field>
  <field ng-model="anemometer.bladesNumber" type="number"></field>
  <field ng-model="anemometer.frontalAir" type="number"></field>
  <field ng-model="anemometer.type" type="select">
    <option></option>
    <option>asse verticale</option>
    <option>asse orizzontale</option>
  </field>
  <field ng-model="anemometer.model" type="select">
    <option></option>
    <option>Deltatronic</option>
    <option>Inspeed Vortex</option>
  </field>
  <field ng-model="anemometer.parameter.diameter" type="number"></field>
  <field ng-model="anemometer.parameter.lambda" type="number"></field>
  <field ng-model="anemometer.parameter.power" type="number"></field>
  <field ng-model="anemometer.parameter.cutIn" type="number"></field>
  <field ng-model="anemometer.parameter.cutOff" type="number"></field>
</div>
