<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <a href="{{h.anemometerPath(anemometer._id)}}">
        <strong>{{anemometer.locale}}</strong>
      </a>
      <span ng-show="anemometer.statistics">
        #{{anemometer.statistics.data.count | number}} ({{anemometer.statistics.data.time.min | date}} - {{anemometer.statistics.data.time.max | date}})
      </span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row text-center">
      <div class="col-xs-12">
        <i ng-show="loading" class="fa fa-refresh fa-5x fa-spin"></i>
        <span ng-show="noData" translate="anemometer.panel.no-data"></span>
      </div>
    </div>
    <div class="row" ng-if="anemometer.statistics">
      <div class="col-xs-4">
        <gauge-chart data="anemometer.statistics.chart.battery" green="[90,100]" red="[0,10]" yellow="[75,90]" />
      </div>
      <div class="col-xs-4">
        <gauge-chart data="anemometer.statistics.chart.speed" green="[12,15]" red="[0,1]" yellow="[null,null]" max="15" />
      </div>
      <div class="col-xs-4">
        <gauge-chart data="anemometer.statistics.chart.maxPowerExtractable" green="[4,5]" red="[0,1]" yellow="[null,null]" max="5" />
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary" href="{{h.anemometerUploadPath(anemometer._id)}}">
      <icon name="upload"></icon>
      <span translate="commons.buttons.upload"></span>
    </a>
    <a class="btn btn-warning" href="{{h.editAnemometerPath(anemometer._id)}}">
      <icon name="edit"></icon>
      <span translate="commons.buttons.edit"></span>
    </a>
    <button class="btn btn-danger" ng-show="delete" ng-click="delete(anemometer)">
      <icon name="eraser"></icon>
      <span translate="commons.buttons.delete"></span>
    </button>
  </div>
</div>