<div class="col-lg-6">
  <legend>Dati posto</legend>
  <div class="form-group">
    <label>Localit&agrave; turbina</label>
    <input class="form-control" placeholder="Enter text" name='turbineLocale' ng-model='turbine.locale' >
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group">
    <label>Latitudine</label>
    <input class="form-control" placeholder="Enter text" name='turbineLat' ng-model='turbine.lat' >
  </div>

  <div class="form-group">
    <label>Longitudine</label>
    <input class="form-control" placeholder="Enter text" name='turbineLong' ng-model='turbine.long' >
  </div>

  <div class="form-group">
    <label>Altitudine</label>
    <input class="form-control" placeholder="Enter text" name='turbineAltitudine' ng-model='turbine.altitudine' >
  </div>
  <div class="form-group">
    <label>Note</label>
    <textarea class="form-control" rows="3" name='turbineNote1' ng-model='turbine.note1'></textarea>
  </div>
</div>
<div class="col-lg-6">
  <legend>Dati turbina</legend>
  <div class="form-group">
    <label>Nome turbina</label>
    <input class="form-control" placeholder="Enter text" name='turbineName' ng-model='turbine.nome' >
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group">
    <label>Numero pale</label>
    <input class="form-control" placeholder="Enter text" name='turbinePale' ng-model='turbine.pale' >
  </div>

  <div class="form-group">
    <label>Aria frontale</label>
    <input class="form-control" placeholder="Enter text" name='turbineAir' ng-model='turbine.air' >
  </div>

  <div class="form-group">
    <label>Tipo turbina</label>
    <select class="form-control" name='turbineType' ng-model='turbine.type' >
      <option>asse verticale</option>
      <option>asse orizzontale</option>
    </select>
  </div>


  <div class="form-group">
    <label>Tipo anemometro</label>
    <select class="form-control" name='anemometerType' ng-model='turbine.anemometerType' >
      <option>Inspeed Vortex</option>
      <option>Deltatronic</option>
    </select>
  </div>

  <div class="form-group">
    <label>Diametro turbina</label>
    <input class="form-control" placeholder="Enter text" name='turbineDiametro' ng-model='turbine.diametro' >
  </div>

  <div class="form-group">
    <label>Tip speed Ratio (lambda)</label>
    <input class="form-control" placeholder="Enter text" name='turbineLambda' ng-model='turbine.lambda' >
  </div>

  <div class="form-group">
    <label>Coefficiente di potenza</label>
    <input class="form-control" placeholder="Enter text" name='turbinePower' ng-model='turbine.power' >
  </div>

  <div class="form-group">
    <label>Velocità cut IN</label>
    <input class="form-control" placeholder="Enter text" name='turbineCutIn' ng-model='turbine.cutIn' >
  </div>

  <div class="form-group">
    <label>Velocità cut OFF</label>
    <input class="form-control" placeholder="Enter text" name='turbineCutOff' ng-model='turbine.cutOff' >
  </div>

  <div class="form-group">
    <label>Note</label>
    <textarea class="form-control" rows="3" name='turbineNote2' ng-model='turbine.note2'></textarea>
  </div>

</div>
